<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Show jobPosts</title>
    <th:block th:replace="fragments/header :: main-header"/>
    <style>
        #mainDiv {
            background: url(/img/create-jobPost.jpeg) no-repeat center center fixed;
            background-color: white;
            /*background-size: auto 100%;*/
            background-repeat: no-repeat;
            background-position: left top;
        }
    </style>
</head>
<body id="mainDiv">
<div style="display: flex; flex-direction:column; justify-content: flex-start; height: 100vh;">
    <div th:replace="fragments/navbar :: main-navbar"></div>
    <div class="container" style="margin: auto;">
        <!--        <div style="display: flex; justify-content: center;">-->
        <div style="display: flex; flex-direction:column; align-content: space-around;">
            <div class="card" style="margin-top: 4em; width:100%;">
                <div class="card inner-card ">
                    <div class="page-title">Create a new Post</div>
                    <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
                        <input type="hidden" th:field="*{id}" id="postId">
                        <input type="hidden" th:field="${userId}" id="userId">
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input id="title" th:field="*{title}" class="form-control" placeholder="title"
                                           maxlength="255"
                                           th:required="required"/>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="notified_date">Notified Date</label>
                                    <input id="notified_date" th:field="*{notified_date}" class="form-control"
                                           placeholder="MM/dd/YYYY"
                                           th:required="required"/>
                                </div>
                            </div>
                            <div class="col-4">
                                <select class="form-control" id="company_id" name="company_id">
                                    <option value="">Select Companies</option>
                                    <option th:each="company : ${companies}"
                                            th:value="${company.id}"
                                            th:text="${company.name}+' : '+${company.name}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea id="description" th:field="*{description}" class="form-control"
                                              placeholder="body"
                                              th:required="required"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="attendants">attendants</label>
                                    <textarea id="attendants" th:field="*{interview_attendants}" class="form-control"
                                              placeholder="body"
                                              th:required="required"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="applied_date">Interview Date</label>
                                    <input id="applied_date" th:field="*{applied_date}" class="form-control"
                                           placeholder="MM/dd/YYYY"
                                           th:required="required"/>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="interview_date">Interview Date</label>
                                    <input id="interview_date" th:field="*{interview_date}" class="form-control"
                                           placeholder="MM/dd/YYYY"
                                           th:required="required"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="timeline">Timeline</label>
                                    <textarea id="timeline" th:field="*{timeline}" class="form-control"
                                              placeholder="timeline"
                                              th:required="required"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="good_things">Good things</label>
                                    <textarea id="good_things" th:field="*{good_things}" class="form-control"
                                              placeholder="body"
                                              th:required="required"/>
                                </div>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-success form-control"/>
                    </form>
                </div>
            </div>
            <!--            </div>-->
        </div>
    </div>
    <div class="d-flex align-items-start">
        <div class="credit_photo">
            <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px"
               href="https://unsplash.com/@arjabedbd?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
               target="_blank" rel="noopener noreferrer"
               title="Download free do whatever you want high-resolution photos from Anisur Rahman"><span
                    style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg"
                                                                      style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white"
                                                                      viewBox="0 0 32 32"><title>unsplash-logo</title><path
                    d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span
                    style="display:inline-block;padding:2px 3px">Anisur Rahman</span></a>
        </div>
    </div>
</div>
</body>
</html>